* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Veranda;
}

body, a {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #303030;
}

header {
    background-color: #303030;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0 0;
    border-bottom: 1px solid #ccc;
    max-width: 1024px;
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
}

.menu-container2 {
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.menu-container2 form,
.menu-container form {
    display: flex;
    align-items: center;
    border: none;
    padding: 12px;
    background: #424242;
    font-size: 32px;
    margin-left: 24px;
    border-radius: 4px;
    width: 100%;
}

.carrinho a {
    background-color: #009e2a;
    color: #fff;
    text-decoration: none;
    padding: 20px ;
    border-radius: 4px;
    margin-left: 16px;
    display: flex;
    margin-right: 36px;
    
}

.carrinho a:hover {
    background-color: #018324;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.comprar span{
    background-color: #009e2a;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    margin-top: 6px;
    
}

.comprar span:hover {
    background-color: #018324;
    cursor: pointer;
}

h1 {
    position: absolute;
    top: 0px;
    color:#fff;
    margin-left: 32px;
    
}

h2, h3, h4 {
    color: #fff;
}

h4 {
    margin-top: 6px;
}

h2{
    padding: 12px 32px;
}

#burguer1, #burguer2 {
    display: flex;
    align-items: center;
    background-color: #e90313;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #e90313;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin-left: 32px;
    margin-top: 8px;
}

i#burguer:hover{
    background-color: #a01a23;
    color: rgb(206, 203, 203);
    cursor: pointer;
}

input[type="search"] {
    padding: 6px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #525252;
    box-sizing: 16px;
    font-size: 16px;
    color: #ccc;
    
}

#menu-list1 {
    display: none;
    flex-direction: column;
    color: #fff;
    background-color: #525252;
    padding: 8px 73px;
    border-radius: 5px;
    z-index: 1000;
    position: absolute;
    top: 95px;
    left: 36px;
}

#menu-list1 ul li a {
    color: #fff;
    
    
}

#menu-list1 ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 8px 0; /* Adiciona margem para separar a lista de outros elementos */
    font-size:24px;
    background-color: #525252
    
}

.submenu {
    display: none;
    padding-left: 20px;
    
}

#menu-list1 li:hover .submenu {
    display: block;
}

.loja {
    display: flex;
}

.loja img {
    padding-top: 32px;
    max-width: 50%;
}

.loja p {
    color: #fff;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 4px;
}

.brands-list img {
    width: 64px;
}

.brands-list li {
    display: inline;
    margin-left: 24px;
    
}

.produtos img {
    max-width: 100%;
}

.novos img {
    max-width: 100%;
}

.conteudo{
    display: grid;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 5%;
}

.lancamentos {
    display: grid;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
    grid-template-columns: repeat(6, 24%);
    column-gap: 1%;
    row-gap: 5%;
}

#about {
    margin-right: 36px;
    margin-left: 36px;
}

.produtos:hover, .novos:hover {
    transform: scale(1.05);
}