* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Veranda;
}

body {
    background-color: #303030;
}

header {
    background-color: #303030;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    position: absolute;
    top: 8px;
    
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 32px 64px;
}

h1 {
    color:#fff;
    margin-left: 32px;
}

#burguer {
    display: flex;
    align-items: center;
    background-color: #e90313;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #e90313;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin-left: 32px;
}

#burguer span {
    margin-left: 8px;
    margin-right: 8px;
}

i#burguer:hover{
    background-color: #a01a23;
    color: rgb(206, 203, 203);
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    border: #424242;
    padding: 12px;
    background: #424242;
    font-size: 32px;
    margin-left: 24px;
    border-radius: 4px;
    width: 100%;
}

input[type="search"] {
    padding: 6px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    background-color: #525252;
    border: none;
    font-size: 16px;
    color: #ccc;
    width: 100%;
}

#menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70%;
    width: auto;
    color: #fff;
    display: none;
    position: absolute;
    top: calc(80% + 8px); /* Ajuste conforme necessário */
    background-color: #525252;
    padding: 8px;
    border-radius: 5px;
    z-index: 999;
}

#menu-list ul li a {
    color: #fff;
    
}

#menu-list ul {
    display: no;
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 8px 0; /* Adiciona margem para separar a lista de outros elementos */
    font-size:24px;
    background-color: #525252

}

.submenu {
    display: none;
    padding-left: 20px;
    
}

#menu-list li:hover .submenu {
    display: block;
}

.loja {
    display: flex;
}

.loja img {
    padding-top: 32px;
    max-width: 50%;
}

.loja p {
    color: #fff;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 4px;
}

section h2 {
    padding: 24px;
}

.brands-list img {
    width: 64px;
}

.brands-list li {
    display: inline;
    margin-left: 24px;
    
}